<% include header.html%>

    <div class="message">
    	<span class="info"></span>
        <span class="error"></span>
    </div>
    <div class="form-wrapper">
        <h3>用户登入</h3>
        <div class="row">
            <label for="username">用户名</label>
            <input type="text" name="username" id="username" />
        </div>
        <div class="row">
            <label for="password">口令</label>
            <input type="password" name="password" id="password" />
        </div>
        <div class="actions">
        	<button class="btn">登入</button>
        </div>
    </div>

<% include footer.html%>